* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6a6a6a; /* Color de fondo del body */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1e6cd9;
}

/* Flexbox para el contenedor principal */
.container-card {
    border-radius: 10px;
    display: flex;
    width: 80vw;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #f0f0f0;
}

.aside-left {
    background-color: #a4978e; /* Color de fondo del aside */
    flex-shrink: 0;
    height: 100%;
    padding: 10px;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

/* El main ahora es un contenedor flex para alinear sus hijos */
.contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Apila las secciones verticalmente */
    padding: 2rem;
    overflow-y: auto;
    flex-basis: 75%;
    gap: 20px;
}

.comision-estado {
    background-color: #b7c7c3; /* Color de fondo de la sección COMISSION OPEN */
}

/* Contenedor que hace que las secciones queden una al lado de otra */
.main-content-row {
    display: flex;
    gap: 20px;
}

.condiciones {
    background-color: #43baab; /* Color de fondo de la sección Condiciones */
    flex: 1; /* Ocupa el espacio disponible */
}

.gali-precio {
    background-color: #a2379b; /* Color de fondo de la sección Galería/Precios */
    flex: 1; /* Ocupa el espacio disponible */
}

.perfil-descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.perfil {
    width: 100%;
    max-width: 10rem;
    height: auto;
    flex-shrink: 0;
}

.img-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.texto {
    width: 100%;
    padding: 1rem;
}

.texto h3 {
    text-align: center;
    font-weight: 900;
}

.redes {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.title-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.lupapng {
    height: 1.2em;
    width: auto;
}

.title-contact p {
    font-size: 1.2em;
    margin: 0;
}

.redes-links {
    text-align: left;
}